/* 270722 for background */
/* DBDBDB for text */

html,
body,
#main {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #202326;
    color: #DBDBDB;
    user-select: none;
    font-weight: 500;
}

#card {
    background-color: #202326;
}

ul li {
    color: #DBDBDB
}

select,
option {
    background-color: #DBDBDB !important;
    color: black !important;
}

#selected-item {
    color: #202326;
    background-color: #DBDBDB;
}
