name: Rust release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2

      - name: Build
        run: cargo build --release

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            target/release/nelius-launcher
            target/release/nelius-launcher.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
